:root {
  --primary_1: #fd377e;
  --primary_2: #e34981;
  --secondary: #03b898;
  --grey_1: #f8f9fa;
  --grey_2: #e9ecef;
  --grey_3: #868e96;
  --grey_4: #212529;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}
